{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreditCardFraudDetectionSystem</title>
</head>
<body>
<div style="background-color:#890606">
    <h2 style="color:white">ABOUT</h2>
</div>
<h3>About Credit Card Fraud Detection System</h3>

<div style="height:100vh;width:50%;float:left">
    <p align=justify>
        “Fraud detection is a set of activities that are taken to prevent money or property
        from being obtained through false pretenses.”Credit Card Fraud Detection with Machine
        Learning is a process of data investigation by a Data Science team and the development
        of a model that will provide the best results in revealing and preventing fraudulent transactions.
        This is achieved through bringing together all meaningful features of card users’ transactions, such as
        Date, User Zone, Product Category, Amount, Provider, Client’s Behavioral Patterns, etc. The information is
        then run through a subtly trained model that finds patterns and rules
        so that it can classify whether a transaction is fraudulent or is legitimate.</p>
</div>
<div style="height:100vh;width:50%;float:right;">
    <center><img src="{% static 'images/img.jpg' %}"style="width:350px; height=500px"></center>
</div>
<!-- Footer -->
<div style="background-color:#890606;position: fixed;Width: 100%;bottom: 0;">
<footer class="page-footer font-small indigo"style="color:white">


  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->



      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <center><h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <a >Phone: 01-857854</a>
          </li>
          <li>
            <a >Email: abc2021@gmail.com</a>
          </li>
          <li>
            <a >Address: XXXX</a>
          </li>

        </ul>
            </center>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



</footer>
<!-- Footer -->

<div style="background-color:#4a0d0d;color:white">
    <div class="footer-copyright text-center py-3">© Copyright Credit Card Fraud Detection System

  </div>
</div>
    </div>
</body>
</html>
{% endblock %}

