
<html>
<head>
    <meta charset="UTF-8">
    <title>Predict credit card transaction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"style="color:#890606",href="#"><h1>Credit card fraud detection</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">


        <ul class="navbar-nav float:right" >
            <li class="nav-item active ">
                <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="prediction">Contact Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="Logout">Logout</a>
            </li>



<!--            {% if user.is_authenticated %}-->
<!--             <li class="nav-item">-->
<!--                <a class="nav-link " href="Logout">Logout</a>-->
<!--            </li>-->
<!--            {% endif %}-->
        </ul>
               </ul>
    </div>
</nav>
    <style>
    .main{

    top:0px;
    left:410;
    width:100%;
    background-color:#7abecc;
<!--    border-radius:10px;-->
    align-items:center;
    padding:5%;
     height:200vh;



    }

    input[type=submit]
    {
    background-color:red;
    border:2px;
    color:white;
    padding:8px 16px;
    cursor:pointer;
    margin-top:15px;
    }
    </style>
</head>
<body>
<div align="center" class="main">
    <h1 style="color:#c10202;">Please enter the following information</h1>

    <form id="form1" action="result">
        <table>
            <div float="left">
            <tr>
                <td align="right";font="90px" ><b>Time:</b></td>
                <td align="left"><input type="text" name="n1"></td>
                <td align="right"><b>V1:</b></td>
                <td align="left"><input type="text" name="n2"></td>
                <td align="right"><b>V2:</b></td>
                <td align="left"><input type="text" name="n3"></td>
            </tr>



            <tr>

                <td align="right"><b>V3:</b></td>
                <td align="left"><input type="text" name="n4"></td>
                <td align="right"><b>V4:</b></td>
                <td align="left"><input type="text" name="n5"></td>
                 <td align="right"><b>V5:</b></td>
                <td align="left"><input type="text" name="n6"></td>
            </tr>



            <tr>
                <td align="right"><b>V6:</b></td>
                <td align="left"><input type="text" name="n7"></td>
                <td align="right"><b>V7:</b></td>
                <td align="left"><input type="text" name="n8"></td>
                <td align="right"><b>V8:</b></td>
                <td align="left"><input type="text" name="n9"></td>
            </tr>

            <tr>

                <td align="right"><b>V9:</b></td>
                <td align="left"><input type="text" name="n10"></td>
                 <td align="right"><b>V10:</b></td>
                <td align="left"><input type="text" name="n11"></td>
                 <td align="right"><b>V11:</b></td>
                <td align="left"><input type="text" name="n12"></td>
            </tr>





            <tr>
                <td align="right"><b>V12:</b></td>
                <td align="left"><input type="text" name="n13"></td>
                <td align="right"><b>V13:</b></td>
                <td align="left"><input type="text" name="n14"></td>
                 <td align="right"><b>V14:</b></td>
                <td align="left"><input type="text" name="n15"></td>
            </tr>

            <tr>

                <td align="right"><b>V15:</b></td>
                <td align="left"><input type="text" name="n16"></td>
                <td align="right"><b>V16:</b></td>
                <td align="left"><input type="text" name="n17"></td>
                <td align="right"><b>V17:</b></td>
                <td align="left"><input type="text" name="n18"></td>
            </tr>




            <tr>
                <td align="right"><b>V18:</b></td>
                <td align="left"><input type="text" name="n19"></td>
                <td align="right"><b>V19:</b></td>
                <td align="left"><input type="text" name="n20"></td>
                <td align="right"><b>V20:</b></td>
                <td align="left"><input type="text" name="n21"></td>
            </tr>

            <tr>

                <td align="right"><b>V21:</b></td>
                <td align="left"><input type="text" name="n22"></td>
                <td align="right"><b>V22:</b></td>
                <td align="left"><input type="text" name="n23"></td>
                     <td align="right"><b>V23:</b></td>
                <td align="left"><input type="text" name="n24"></td>
            </tr>



                <tr>
                <td align="right"><b>V24:</b></td>
                <td align="left"><input type="text" name="n25"></td>
                     <td align="right"><b>V25:</b></td>
                <td align="left"><input type="text" name="n26"></td>
                    <td align="right"><b>V26:</b></td>
                <td align="left"><input type="text" name="n27"></td>
            </tr>

                <tr>

                    <td align="right"><b>V27:</b></td>
                <td align="left"><input type="text" name="n28"></td>
                    <td align="right"><b>V28:</b></td>
                <td align="left"><input type="text" name="n29"></td>
                    <td align="right"><b>Amount:</b></td>
                <td align="left"><input type="text" name="n30"></td>
            </tr>



                </div>
        </table>
        <input type="submit">
    </form>
    <h1 style="color:#c10202";><u>Prediction</u></h1>
    <h2><b>Result: </b>{{result}}</h2>


</div>
</body>

</html>
