{% extends 'index.html' %}


{% block content %}
<div style="background-color:#890606">
    <h2 style="color:white">FRAUD DETECTION</h2>
</div>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

<div class="container">
  <center><h4>CHOOSE TYPE OF DATA YOU WANT TO CHECK FOR DETECTING FRAUD</h4></center>
  <div class="panel panel-default">
    <div class="panel-body"style="background-color:#50971f;text-align:center;">
        <a style="color:white;font-size:18px" href="index/upload">UPLOAD SINGLE CSV RECORD</a>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-body"style="background-color:#50971f;text-align:center;">
        <a style="color:white;font-size:18px" href="index/upload">UPLOAD MULTIPLE CSV RECORD</a>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}
